.post{
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--twitter-background);
  padding-top: 10px;
  max-width: 520px !important;
}

.post__body{
  flex:1;
  padding: 10px;
}
.post__body > img{
  border-radius: 20px;
  width: 100%;
}
.post__footer{
  display: flex;
  justify-content: space-evenly;
}
.post__badge{
  font-size: 12px !important;
  color: var(--twitter-color);
  margin-left: 3px;
}
.post__headerSpecial{
  font-weight: 600;
  font-size: 13px;
  color:gray;
}
.post__headerText > h3 {
  font-size: 15px;
  margin-bottom: auto;
  margin-top: 10px;
}
.post__headerDescription{
  margin-bottom: 10px;
  font-size: 15px;
  padding: 0px !important;
}
.post__headerDescription > span{
  margin-top: 0px;
  width: 520px !important;
}
.post__avatar{
  margin-top: 20px;
  margin-left: 20px;
}