.tweetBox {
  padding-bottom: 10px;
  border-bottom: 10px solid var(--twitter-background);
  min-width: fit-content;
}

.tweetBox > form {
  display: flex;
  flex-direction: column;
}
.tweetBox__input {
  padding: 20px;
  display: flex;
}
.tweetBox__input > input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
}

.tweetBox__tweetButton {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  border-radius: 30px !important;
  width: 80px !important;
  height: 40px !important;
  margin-top: 20px !important;
  margin-bottom: auto !important;
  margin-left: auto !important;
  margin-right: 15px !important;
}
.tweetBox__imageInput {
  border: none;
  padding: 10px;
}
